@import '../helpers/vars';

.steps {
  padding-left: 64px;
  margin-top: 124px;

  &__item {
    display: flex;
    align-items: center;

    font-weight: 800;
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 64px;
    }

    &:last-child {
      .steps__count::before {
        content: none;
      }
    }
  }

  &__count {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d1d29;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 54px;
      background-color: $white;
      opacity: 0.2;
      bottom: -60px;
    }

    &::after {
      content: attr(data-count);
      position: absolute;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(#fff, 0.3);
      opacity: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_active {
      border: 1px solid $orange;
      color: #fff;

      &::after {
        background-color: $yellow;
        opacity: 1;
        box-shadow: 0 4px 20px $yellow;
      }
    }
  }

  &__name {
    color: #c4c4c4;
    position: relative;
    padding-left: 17px;
    margin-left: 14px;
    opacity: 0.6;
    font-weight: 400;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 7px;
      background-color: $white;
      opacity: 0.5;
      left: 0;
      border-radius: 50%;
    }

    &_active {
      color: #fff;
      opacity: 1;

      &::after {
        background-color: $orange;
        opacity: 1;
      }
    }
  }
}

.home-button {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url('../../images/home.svg');
  background-repeat: no-repeat;
  background-position: center;
}
